node_modules
package-lock.json
.env
.DS_Store
.vscode/
apps/bot/src/settings/minecraft
farmanstest.js
yarn.lock
apps/bot/src/mc
apps/database/engine
apps/database/modules
*.log
apps/guild/cache/*.json
apps/guild/config.json
*.pid
apps/guild/src/minecraft/data
apps/novybot
/apps/uhgbot/cache
apps/uhgbot/config.json
